DALIFIN_SITE_NAME=Dalifin
DALIFIN_BUILD_ID=prod-local
DALIFIN_API_BASE_URL=http://127.0.0.1:5005/account/api
DALIFIN_PORTAL_URL=https://server.dalifin.com/account
DALIFIN_CONTACT_EMAIL=gli@dalifin.com
DALIFIN_CONTACT_NAME=Gang Li
DALIFIN_HOST=127.0.0.1
DALIFIN_PORT=5003
DALIFIN_PID_FILE=/tmp/dalifin_company.pid
DALIFIN_LOG_FILE=/tmp/dalifin_company.out
DALIFIN_ERR_FILE=/tmp/dalifin_company.err
