DALIFIN_SITE_NAME=Dalifin
DALIFIN_BUILD_ID=stage-local
DALIFIN_API_BASE_URL=http://127.0.0.1:8100/account/api
DALIFIN_PAYMENT_API_BASE_URL=http://127.0.0.1:5006
DALIFIN_PORTAL_URL=https://server.dalifin.com/account
DALIFIN_CONTACT_EMAIL=gli@dalifin.com
DALIFIN_CONTACT_NAME=Gang Li
DALIFIN_HOST=127.0.0.1
DALIFIN_PORT=5103
DALIFIN_PID_FILE=/tmp/dalifin_company_stage.pid
DALIFIN_LOG_FILE=/tmp/dalifin_company_stage.out
DALIFIN_ERR_FILE=/tmp/dalifin_company_stage.err
